<nav>
  <h1>Hey.</h1>
  <a href="/">
    {% if site.data.theme.social.gravatar %}
    <img src="https://fbcdn-sphotos-f-a.akamaihd.net/hphotos-ak-prn2/v/t1.0-9/s403x403/62428_150115611690398_624052_n.jpg?oh=9b2acbe5aaabd286fe147782c629fb3b&oe=56376B56&__gda__=1450615123_2d44ea57164e00de55d0830b21039f89" id="gravatar" alt="My photo"/>
    {% else %}
    <img src="/logo.png" id="logo" alt="Blog logo"/>
    {% endif %}
  </a>
  <h2>I'm <a href="/">{{ site.data.theme.name }}</a>.</h2>
  <div id="bio">
    <p>Programmer, designer, Architect, Data Analyst.</p>

  </div>
  <div id="social">
    {% include social.html %}
  </div>
</nav>
